#icon-logo {
    width: 80px;
    height: auto;
}

@font-face {
    font-family: "Sugo Pro Display Bold";
    src: url("./Fonts/sugo_pro_display/Sugo-Pro-Display-Bold-trial.ttf");
}

.bg-custom {
    background-color: #000000;
}

.container-fluid h1 {
    font-family: "Sugo Pro Display Bold";
    font-size: 35px;
    color: #F93624;
    cursor: pointer;
}

.nav-item a {
    font-family: "Inter", sans-serif;
    font-size: 20px;
}

.nav-item a:hover {
    color: grey;
}

.nav-item a:focus {
    color: #F93624;
}

.logo-custom span {
    color: white;
}

.nav-item a {
    font-family: "Inter", sans-serif;
    color: white;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler {
    border: solid 1px white;
}

.logo-custom {
    display: flex;
    align-items: center;   
    margin: 0;             
}

.cta-header {
    text-align: center;
}

.cta-header h1,
h2 {
    font-family: "Inter", sans-serif;
}

.cta-header h1 {
    margin-top: 40px;
    font-size: 40px;
    font-weight: 800;
}

.cta-header span {
    font-size: 40px;
    font-weight: 800;
    color: #F93624;
}

.cta-header h2 {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600;
}

.button-cta {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-custom {
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-size: 20px;
    border: none;
    color: white;
    background-color: #E62316;
    width: 250px;
    height: 60px;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
}

.btn-custom:hover {
    background-color: #D9D9D9;
    border-color: #D9D9D9;
    color: #ffffff;
    border: solid #000000;
}

.btn-custom.active {
    border: solid #000000;
}


.button-cta p {
    margin-top: 10px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
}

.cta-header img {
    margin-top: 10px;
    border-radius: 10px;
    border: solid #000000;
    width: 80%;
}

.card-img-top {
    width: 60px;
    height: 60px;
}

.card {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    border: solid black 1px;
    box-shadow: 0 2px 2px black;
}

.card-essencial {
    width: 250px;
    height: 250px;
}

.card img {
    margin: 30px 0 0 10px;
}

.card-title {
    font-family: "Inter", sans-serif;
    font-weight: bolder;
    font-size: 25px;
}

.card-text {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font: 18px;
}

.planos {
    margin-bottom: 180px;
    margin-top: -30px;
}

.funcoes h1,
.planos h1 {
    font-family: "Inter", sans-serif;
    font-weight: bolder;
    font-size: 40px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.planos .card {
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    color: #000000;
    height: 340px;
}

.planos .plano-titulo {
    margin-top: 15px;
    font-size: 25px;
}

.planos .plano-subtitulo {
    margin-top: -10px;
    font-size: 35px;
    color: #E71E0E;
    font-weight: bolder;
}

.planos .card  h4 {
    margin-top: -10px;
    font-size: 20px;
    font-weight: 500;
    color: #000000;
}

.planos .card  li {
    font-size: 16px;
    font-weight: 300;
    color: #000000;
    line-height: 1.0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-planos {
    margin-top: 20px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    background-color: #E71E0E;
    border: none;
    border-radius: 20px;
    width: 210px;
    height: 45px;
    font-size: 22px;
    box-shadow: 3px 3px 3px grey;
}

.btn-planos:hover {
    background-color: #ff1100;
}

.planos .card .btn-planos {
    display: block;
    margin: 16px auto 0; /* top | horizontal | bottom */
}

.btn-group {
    width: 460px;
    height: 80px;
}

.planos {
    display: flex;
    flex-direction: column;
    align-items: center;   /* centraliza horizontal */
}

.essencial {
    display: flex;
    width: 100%;
    height: 572px;
    background-color: #F2F2F2;
    border: solid 1px #000000;
    border-left: 0;
    border-right: 0;
    margin-top: -120px;
    outline: 4px solid black
}

.essencial h1 {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    margin-top: 40px;
    margin-left: 14px;
}

.essencial h1 span {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    color: #E71E0E;
}

.essencial-titulo {
    font-size: 18px;
}

.essencial-subtitulo {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.essencial-body img {
    width: 40px;
    height: 40px;
}

.bullet-img img {
    margin-left: 310px;
    width: 572px;
    height: auto;
}

#lixeira-icon {
    margin-left: -10px;
}

#email-icon {
    margin-left: -2px;
}

#nota-icon {
    margin-left: -10px;
}

.duvidas {
    background-color: #D9D9D9;
    padding-bottom: 100px;
    border-bottom: 4px solid black
}

.duvidas h1 {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 50px;
}

.accordion {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.accordion-item {
    width: 1000px;
    border: 2px solid black;
}

.accordion-header button {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.accordion-body p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.cta-footer {
    padding-top: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    border-bottom: 4px solid black;
}

.cta-footer h1 {
    font-family: "Inter", sans-serif;
    font-weight: bolder;
}

.cta-footer h2 {
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

.cta-footer button {
    margin-top: 20px;
    margin-bottom: 30px;
}

.footer {
    background-color: #E9E9E9;
}

.section-footer {
    margin-top: -5px;
    justify-content: space-between;
    margin-left: 120px;
    margin-right: 120px;
}

.section-tab h5 {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
}

.footer-link {
    font-family: "Inter", sans-serif;
    color: black;
    font-weight: 500;          
    font-size: 20px;
    margin-top: -15px;
}

#footer-text {
    font-family: "Inter", sans-serif;
    color: black;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    margin-top: -50px;
}

.btn-group {
    margin-top: -25px;
}

.planos-card {
    margin-top: -5px;
}

@media (max-width: 1199px) {
    .essencial {
        padding-bottom: 900px;
    }
}

@media (max-width: 1880px) {
    .bullet-img {
        display: none;
    }
}

@media (min-width: 1200px) {
    .menu-custom {
        display: none;
    }

    .menu-desktop-logo img {
        width: 120px;
        height: 120px;
    }

    .desktop-menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px 120px 20px 120px;
    }

    .menu-desktop ul {
        display: flex;
        gap: 30px;
        cursor: pointer;
    }

    .menu-desktop-logo {
        display: flex;
        align-items: center;
    }

    .menu-desktop-logo h1 {
        font-family: "Sugo Pro Display Bold";
        color: #E02112;
        font-size: 45px;
        cursor: pointer;
        margin-top: 10px;
    }

    .menu-desktop-logo span {
        color: black;
    }

    .menu-desktop ul {
        list-style: none;
    }

    .menu-desktop li {
        font-size: 20px;
        font-weight: bold;
        margin-top: 10px;
    }
}

@media (max-width: 1199px) {
    .desktop-menu {
        display: none;
    }
}

@media (max-width: 576px) {
    .cta-header h1,
    .cta-header span,
    .funcoes h1,
    .planos h1,
    .essencial h1 {
        font-size: 35px;
    }

    .cta-header h2 {
        font-size: 15px;
    }

    .card,
    .card-essencial {
        width: 250px;
        height: 250px;
    }

    .card-title,
    .planos .plano-titulo
    .essencial-titulo {
        font-size: 20px;
    }

    .card-text,
    .essencial-subtitulo  {
        font-size: 14px;
    }

    .card img {
        width: 40px;
        height: 40px;
    }

    .btn-group {
        width: 360px;
        height: 80px;
    }

    .planos .plano-subtitulo {
        font-size: 30px;
    }

    .planos .card  h4 {
        font-size: 16px;
    }

    .planos .card  li {
        font-size: 15px;
    }

    .btn-planos {
        width: 200px;
        height: 40px;
        font-size: 18px;
    }

    .planos .card {
        height: 300px;
    }

    .essencial {
        padding-bottom: 1500px;
    }

    .card-group {
        display: flex;
        justify-content: center;
    }
}