#icon-logo {
    width: 80px;
    height: auto;
}

@font-face {
    font-family: "Sugo Pro Display Bold";
    src: url("./Fonts/sugo_pro_display/Sugo-Pro-Display-Bold-trial.ttf");
}

.bg-custom {
    background-color: #000000;
}

.container-fluid h1 {
    font-family: "Sugo Pro Display Bold";
    font-size: 35px;
    color: #F93624;
    cursor: pointer;
}

.nav-item a {
    font-family: "Inter", sans-serif;
    font-size: 20px;
}

.nav-item a:hover {
    color: grey;
}

.nav-item a:focus {
    color: #F93624;
}

.logo-custom span {
    color: white;
}

.nav-item a {
    font-family: "Inter", sans-serif;
    color: white;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler {
    border: solid 1px white;
}

.logo-custom {
    display: flex;
    align-items: center;   
    margin: 0;             
}

.cta-header {
    text-align: center;
}

.cta-header h1,
h2 {
    font-family: "Inter", sans-serif;
}

.cta-header h1 {
    margin-top: 40px;
    font-size: 40px;
    font-weight: 800;
}

.cta-header span {
    font-size: 40px;
    font-weight: 800;
    color: #F93624;
}

.cta-header h2 {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600;
}

.button-cta {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-custom {
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-size: 20px;
    border: none;
    color: white;
    background-color: #E62316;
    width: 250px;
    height: 60px;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
}

.button-cta p {
    margin-top: 10px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
}

.cta-header img {
        margin-top: 10px;
        border-radius: 10px;
        border: solid #000000;
    }

.card-img-top {
    width: 60px;
    height: 60px;
}

.card {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    border: solid black 1px;
    box-shadow: 0 2px 2px black;
}

.card img {
    margin: 30px 0 0 10px;
}

.card-title {
    font-family: "Inter", sans-serif;
    font-weight: bolder;
    font-size: 25px;
}

.card-text {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font: 18px;
}

.funcoes h1 {
    font-family: "Inter", sans-serif;
    font-weight: bolder;
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media (min-width: 992px) {
    .cta-header img {
        width: 80%;
    }
}


