body {
    font-family: "Inter", sans-serif;
}

h1 {
    font-weight: bold;
}

#icon-logo {
    width: 80px;
    height: auto;
}

@font-face {
    font-family: "Sugo Pro Display Bold";
    src: url("./Fonts/sugo_pro_display/Sugo-Pro-Display-Bold-trial.ttf");
}

.bg-custom {
    background-color: #000000;
}

.container-fluid h1 {
    font-family: "Sugo Pro Display Bold";
    font-size: 35px;
    color: #F93624;
    cursor: pointer;
}

.nav-item a {
    font-size: 20px;
}

.nav-item a:hover {
    color: grey;
}

.nav-item a:focus {
    color: #F93624;
}

.logo-custom span {
    color: white;
}

.nav-item a {
    color: white;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler {
    border: solid 1px white;
}


.cta-header h1 {
    font-size: 40px;
    font-weight: 800;
}

.cta-header span {
    font-size: 40px;
    font-weight: 800;
    color: #F93624;
}

.cta-header h2 {
    font-size: 20px;
    font-weight: 600;
}

.btn-custom {
    font-weight: 800;
    font-size: 20px;
    border: none;
    color: white;
    background-color: #E62316;
    max-width: 250px;
    width: 250px;
    min-height: 60px;
    border-radius: 20px;
    cursor: pointer;
}

.btn-custom:hover {
    background-color: #D9D9D9;
    border-color: #D9D9D9;
    color: #ffffff;
    border: solid #000000;
}

.btn-custom.active {
    border: solid #000000;
}

.button-cta p {
    font-weight: 600;
}

.cta-header img {
    border-radius: 10px;
    border: solid #000000;
}

.icon-funcao img {
    width: 60px;
    height: 60px;
}

.card {
    max-width: 300px;
    border-radius: 10px;
    border: solid black 1px;
    box-shadow: 0 2px 2px black;
}


.card-title {
    font-weight: bolder;
    font-size: 25px;
}

.card-text {
    font-weight: 500;
    font: 18px;
}


.funcoes h1,
.planos h1 {
    font-weight: bolder;
    font-size: 40px;
}

.mb-custom {
    margin-bottom: 60px;
}

.planos .card {
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    color: #000000;
    height: 340px;
}

.planos .plano-titulo {
    font-size: 25px;
}

.planos .plano-subtitulo {
    font-size: 35px;
    color: #E71E0E;
    font-weight: bolder;
}

.mt-n {
    margin-top: -10px;
}

.planos .card  h4 {
    font-size: 20px;
    font-weight: 500;
    color: #000000;
}

.planos .card  li {
    font-size: 16px;
    font-weight: 300;
    color: #000000;
    line-height: 1.0;
}


.btn-planos {
    font-weight: bold;
    background-color: #E71E0E;
    border: none;
    border-radius: 20px;
    max-width: 210px;
    width: 210px;
    min-height: 45px;
    font-size: 22px;
    box-shadow: 3px 3px 3px grey;
}

.btn-planos:hover {
    background-color: #ff1100;
}

.btn-group {
    max-width: 460px;
    min-height: 80px;
}


.essencial {
    min-height: 572px;
    height: 572px;
    background-color: #F2F2F2;
    border: solid 1px #000000;
    outline: 4px solid black
}


.essencial h1 span {
    font-weight: bold;
    color: #E71E0E;
}

.essencial-titulo {
    font-size: 18px;
}

.essencial-subtitulo {
    font-weight: 500;
    font-size: 16px;
}

.icon-wrapper {
    width: 48px;
    height: 48px;
}

.icon-wrapper img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}


.bullet-img img {
    max-width: 572px;
    width: 572px;
    height: auto;
}

.ml-custom {
    margin-left: 310px;
}

.duvidas {
    background-color: #D9D9D9;
    padding-bottom: 100px;
    border-bottom: 4px solid black
}

.accordion-item {
    border: 2px solid black;
}

.accordion-header button {
    font-weight: bold;
    font-size: 30px;
}

.accordion-body p {
    font-weight: 400;
    font-size: 20px;
}

.cta-footer {
    border-bottom: 4px solid black;
}

.cta-footer h1 {
    font-weight: bolder;
}

.cta-footer h2 {
    font-weight: 400;
}

.footer {
    background-color: #E9E9E9;
}

.section-tab h5 {
    font-weight: bold;
    font-size: 30px;
}

.footer-link {
    color: black;
    font-weight: 500;          
    font-size: 20px;
}

.footer-margin-custom {
    margin-top: -15px;
}

#footer-text {
    color: black;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    margin-top: -50px;
}

.btn-group {
    margin-top: -25px;
}

.planos-card {
    margin-top: -5px;
}


@media (min-width: 1200px) {
    .menu-custom {
        display: none;
    }

    .menu-desktop-logo img {
        width: 120px;
        height: 120px;
    }

    .desktop-menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px 120px 20px 120px;
    }

    .menu-desktop ul {
        display: flex;
        gap: 30px;
        cursor: pointer;
    }

    .menu-desktop-logo {
        display: flex;
        align-items: center;
    }

    .menu-desktop-logo h1 {
        font-family: "Sugo Pro Display Bold";
        color: #E02112;
        font-size: 45px;
        cursor: pointer;
        margin-top: 10px;
    }

    .menu-desktop-logo span {
        color: black;
    }

    .menu-desktop ul {
        list-style: none;
    }

    .menu-desktop li {
        font-size: 20px;
        font-weight: bold;
        margin-top: 10px;
    }
}

@media (max-width: 1199px) {
    .desktop-menu {
        display: none;
    }
}

@media (max-width: 1700px) {
    .bullet-img {
        display: none;
    }
}