.menu-logo img {
    width: 120px;
    height: 120px;
}

@font-face {
    font-family: "Sugo Pro Display Bold";
    src: url("./Fonts/sugo_pro_display/Sugo-Pro-Display-Bold-trial.ttf");
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 120px 20px 120px;
}

.menu ul {
    display: flex;
    gap: 30px;
    cursor: pointer;
}

.menu-logo {
    display: flex;
    align-items: center;
}

.menu-logo h1 {
    font-family: "Sugo Pro Display Bold";
    color: #E02112;
    font-size: 45px;
    cursor: pointer;
    margin-top: 10px;
}

.menu-logo span {
    color: black;
}

ul {
    list-style: none;
}

li {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

.chamada-header {
    text-align: center;
    margin-top: 80px;
}

.chamada-header h1 {
    font-family: "Inter", sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: #000000;
}

.chamada-header span {
    color: #E02112;
}

.chamada-header h2 {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: medium;
    color: #000000;
    margin-top: 15px;
}


.chamada-header p {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: #000000;
    margin-top: 5px;
}

.button-cta {
    width: 385px;
    height: 63px;
    border: none;
    background-color: #E02112;
    border-radius: 22px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 26px;
    color: #FFFFFF;
    margin: 10px 0 10px 0;
    box-shadow: 3px 3px 3px grey;
}

.button-cta:hover {
    background-color: #ff1100;
}

.chamada-header img {
    width: 870px;
    height: 580px;
    border-radius: 10px;
    border: solid #000000;
}

.funcoes h1,
.planos h1 {
    font-family: "Inter", sans-serif;
    font-weight: bolder;
    font-size: 40px;
    text-align: center;
}

.funcoes h1 {
    margin: 50px 0 30px 0;
}

.planos h1 {
    margin-bottom: 150px;
}

.planos {
    margin-top: -200px;
}

.card-img-top {
    width: 60px;
    height: 60px;
}

.row {
    margin-top: 60px;
    justify-content: center;
}

.card {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    border: solid black 1px;
    box-shadow: 0 2px 2px black;
    margin-bottom: 300px;
}

.card img {
    margin: 30px 0 0 10px;
}

.card-title {
    font-family: "Inter", sans-serif;
    font-weight: bolder;
    font-size: 25px;
}

.card-text {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font: 18px;
}

#ideia {
    margin-left: -2px;
    font-family: "Inter", sans-serif;
}

.planos {
    display: flex;
    flex-direction: column;
    align-items: center;   /* centraliza horizontal */
    gap: 20px;
    margin-top: -210px;
}

.btn-custom {
    font-family: "Inter", sans-serif;
    font-weight: bolder;
    background-color: #FFFDFD;
    font-size: 25px;
    width: 263px;
    height: 64px;
    border-radius: 20px;
    color: #000000;
    border: solid #000000;
    margin-top: -100px;
}

.btn-custom:hover {
    background-color: #D9D9D9;
    border-color: #D9D9D9;
    color: #ffffff;
    border: solid #000000;
}

.btn-custom.active {
    border: solid #000000;
}

.planos .card {
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    color: #000000;
    height: 340px;
}

.planos .plano-titulo {
    margin-top: 15px;
    font-size: 25px;
}

.planos .plano-subtitulo {
    margin-top: -10px;
    font-size: 35px;
    color: #E71E0E;
    font-weight: bolder;
}

.planos .card  h4 {
    margin-top: -10px;
    font-size: 20px;
    font-weight: 500;
    color: #000000;
}

.planos .card  li {
    font-size: 16px;
    font-weight: 300;
    color: #000000;
    line-height: 1.0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-planos {
    margin-top: 20px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    background-color: #E71E0E;
    border: none;
    border-radius: 20px;
    width: 210px;
    height: 45px;
    font-size: 22px;
    box-shadow: 3px 3px 3px grey;
}

.btn-planos:hover {
    background-color: #ff1100;
}

.planos .card .btn-planos {
    display: block;
    margin: 16px auto 0; /* top | horizontal | bottom */
}

.essencial {
    display: flex;
    width: 100%;
    height: 572px;
    background-color: #F2F2F2;
    border: solid 1px #000000;
    border-left: 0;
    border-right: 0;
    margin-top: -120px;
    outline: 4px solid black
}

.essencial h1 {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    margin: 10px 0 10px 10px;
}

.essencial h1 span {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    color: #E71E0E;
}

.essencial h1 {
    margin-top: 40px;
    margin-left: 50px;
}

.essencial-subtitulo {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 20px;
}

#lixeira-icon {
    margin-left: -10px;
}

#email-icon {
    margin-left: -2px;
}

#nota-icon {
    margin-left: -10px;
}

.bullet-img img {
    margin-left: 310px;
    width: 572px;
    height: auto;
}

.duvidas {
    background-color: #D9D9D9;
    padding-bottom: 100px;
    border-bottom: 4px solid black
}

.duvidas h1 {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 50px;
}

.accordion {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.accordion-item {
    width: 1000px;
    border: 2px solid black;
}

.accordion-header button {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.accordion-body p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.cta-footer {
    padding-top: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    border-bottom: 4px solid black;
}

.cta-footer h1 {
    font-family: "Inter", sans-serif;
    font-weight: bolder;
}

.cta-footer h2 {
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

.cta-footer button {
    margin-top: 20px;
    margin-bottom: 30px;
}

.footer {
    background-color: #E9E9E9;
}

.section-footer {
    justify-content: space-between;
    margin-left: 120px;
    margin-right: 120px;
}

.section-tab h5 {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
}

.footer-link {
    font-family: "Inter", sans-serif;
    color: black;
    font-weight: 500;          
    font-size: 20px;
    margin-top: -15px;
}

#footer-text {
    font-family: "Inter", sans-serif;
    color: black;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    margin-top: -50px;
}
